body{
    font-family: 'roboto mono', sans-serif;
    margin: 10px 100px;
   background-color: #011F45;
   color: #ddd;
}

hr{
  margin: 40px;
}
h1{
  color: #ddd;
}

table {
  display: inline-table;
  font-family: 'Roboto Mono', Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  width: 1000px;
 
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
 
}

table tr:nth-child(even){background-color: #b1a7a6;}


table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #fefae0;
  color: black;
}

#button{
  display: inline-flex;
  margin-top: 20px;
  margin-right: 5px;
}
#aa{
  background-color: #fefae0;
  color: #011F45;
}

#iconegit{
  margin-top: 5px;
}
#portfolio{
  content: 400px;
}

#buttonIframe{
  margin-right: 60px;
}
a{
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-size: 24px;
  font-family: "roboto mono", Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-decoration: none;
  margin-right: 40px;
  margin-top: 20px;
}

a:hover{
  transform: scale(1.06);
}

a::before{
  content: "";
  background-color: #fff;
  width: 10px;
  height: 10px;
  margin-right: 15px;
}

fieldset{
  margin-left: 350px;
  width: 400px;
}
#btn_limpa, #btn_envia{
  margin-left: 100px;
}
